@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Tajawal', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-50: #f0f5ff;
    --color-primary-100: #e0ebff;
    --color-primary-500: #3b82f6;
    --color-primary-600: #01349b;
    --color-primary-700: #012a7c;
    --color-primary-800: #01205e;
    --color-primary-900: #001030;

    --color-secondary-900: #001030;
}